body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h2.home_title {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  top: 25%;
}

h2 span {
  color: white;
  font: bold 24px/45px Helvetica, sans-serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
h2 span.spacer {
  padding: 0 5;
}
h3 {
  margin: 10px 0px 1px;
  font-family: Montserrat;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  font-family:'Varela Round';
  color: #848999;
}
.image {
  position: relative;
  width: 100%;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #6d7280;
  font-family: Montserrat;
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button.nav {
  margin-left: 18px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button.nav:hover {
  background-color: #9299ad;
}
.section {
  padding-top: 65px;
  padding-bottom: 65px;
}
.section.header {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
}
.section.hero {
  padding-top: 55px;
  padding-bottom: 0px;
  background-color: white;
  text-align: center;
}
.company {
  display: inline-block;
  font-family: 'Great Vibes', sans-serif;
  color: black;
  font-size: 30px;
  font-weight: 700;
}
.nav-column {
  text-align: right;
}
.company-column {
  margin-top: 7px;
}
.hero-heading {
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 31px;
}
@media (max-width: 991px) {
  h1 {
    color: white;
  }
  h4 {
    color: white;
  }
  .button.nav {
    margin-left: 11px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .field_label {
    color: white;
  }
  .body {
    background-color: #2c55c7;
  }
}
@media (max-width: 767px) {
  body {
    background-color: #2c55c7;
  }
  h1 {
    font-family: Montserrat, sans-serif;
    text-align: center;
  }
  h4 {
    font-family: Montserrat, sans-serif;
  }
  .button {
    margin-right: 20px;
    margin-left: 20px;
    background-color: #0c3196;
  }
  .button.nav {
    display: block;
    width: 60%;
    margin: 23px auto 17px;
  }
  .section {
    padding-right: 15px;
    padding-left: 15px;
  }
  .section.header {
    background-color: white;
  }
  .section.hero {
    margin-bottom: 51px;
    background-color: white;
  }
  .nav-column {
    text-align: center;
  }
  .company-column {
    margin-top: 35px;
    margin-bottom: 23px;
    text-align: center;
  }
  .hero-heading {
    font-size: 28px;
    line-height: 34px;
  }
  .field_label {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
  }
  .submit_button {
    float: right;
    background-color: #01f;
    font-size: 16px;
  }
  .left_link {
    margin-right: 3px;
    padding-top: 3px;
    padding-bottom: 7px;
    padding-left: 10px;
    color: white;
  }
}
@media (max-width: 479px) {
  body {
    background-color: white;
  }
  h1 {
    font-family: Montserrat, sans-serif;
    color: white;
    text-align: center;
  }
  h2 {
    color: #021af2;
    font-size: 50px;
    text-align: center;
  }
  h3 {
    color: black;
    text-align: center;
  }
  h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
  }
  .button {
    display: block;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding-left: 22px;
    float: left;
    background-color: #0c3196;
  }
  .button.nav {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    float: none;
    background-color: #1a0c96;
    font-family: Arial, Helvetica, sans-serif;
  }
  .section {
    padding-right: 11px;
  }
  .section.header {
    background-color: white;
  }
  .section.hero {
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
  }
  .hero-heading {
    margin-bottom: 33px;
  }
  .field_label {
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    text-align: center;
  }
  .submit_button {
    float: right;
    background-color: #6e7b8b;
    color: white;
    font-size: 16px;
    text-indent: 0px;
  }
  .link {
    margin-top: 12px;
    margin-right: 13px;
    margin-left: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    float: right;
    color: white;
    font-size: 16px;
    text-align: left;
  }
  .left_link {
    float: left;
    color: #336dff;
  }
  .menubar {
    position: absolute;
    background-color: white;
    color: #6e7b8b;
  }
  .navmenu {
    background-color: #6e7b8b;
    opacity: 1;
    color: white;
    font-size: 18px;
    line-height: 5px;
    font-weight: 400;
    letter-spacing: 0px;
    text-indent: -15px;
  }
  .homelink {
    color: white;
    line-height: 0px;
  }
  .settingslink {
    color: white;
  }
  .helplink {
    color: white;
  }
  .menubutton.w--open {
    background-color: #6e7b8b;
  }
  .agecategory {
    font-family:'Great Vibes', cursive;
    color: black;
    font-size: 30px;
    line-height: 40px;
  }
  .accntbody {
    background-color: white;
  }
  .iconmenu {
    font-size: 50px;
    line-height: 0px;
    text-indent: -5px;
  }
  .logoutlink {
    color: white;
  }
  .searchlink {
    color: white;
  }
  .addlink {
    color: white;
  }
  .rbrain {
    background-color: white;
    color: #6e7b8b;
  }
  .rbrainlabel {
    padding-right: 5px;
    text-align: right;
    text-indent: 0px;
  }
  .lbrainlabel {
    padding-left: 5px;
  }
  .rbrainmenu {
    background-color: #6e7b8b;
    color: white;
    font-size: 20px;
    line-height: 25px;
    text-indent: 50px;
  }
  ._50slink {
    color: white;
  }
  ._60slink {
    color: white;
  }
  ._70slink {
    color: white;
  }
  ._80slink {
    color: white;
  }
  .lbrainmenu {
    background-color: #6e7b8b;
    font-size: 20px;
    line-height: 25px;
    text-indent: 50px;
  }
  .youthlink {
    color: white;
  }
  ._20slink {
    color: white;
  }
  ._30slink {
    color: white;
  }
  ._40slink {
    color: white;
  }
  .separateblock {
    opacity: 1;
    color: rgba(255, 255, 255, 0);
  }
  .faq {
    letter-spacing: 0px;
    list-style-type: square;
  }
  .emaillink {
    padding-left: 14px;
    direction: ltr;
    color: #336dff;
    text-align: left;
    text-indent: 0px;
  }
  .contacttext {
    color: #848999;
  }
  .contactlink {
    color: #336dff;
  }
}

.memory_img {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}
