<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Sat Feb 08 2014 18:30:52 GMT+0000 (UTC) -->
<html data-wf-site="52f1a23308d1fc5e180000ab">
<head>
  <meta charset="utf-8">
  <title>CSE 170 Group 2: Flashback - Edit Memory</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/cse-170-group-2-flashback.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Varela Round:400","Varela:400"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d2715929d9cfe03a000001/51e07282241660ce78000001_webclip-gallio.png">
</head>
<body class="accntbody">
  <h1 class="agecategory">[% memory_name %]</h1>
  <div class="w-form">
    <img class="memory_img" src="[% image_url %]"/> 
    <form class="w-clearfix" name="email-form" data-name="Email Form" data-redirect="/your-brain" action="process-delete-memory.pl" method="post">
      <input type="hidden" name="memory_name" value="[% memory_name %]"/>
      <input type="hidden" name="image_url" value="[% image_url %]"/>
      <input type="hidden" name="age_range" value="[% age_range %]"/>
      <input type="hidden" name="query" value="[% query %]"/>
      <label class="field_label" for="name">Type "delete" to delete this memory:</label>
      <input class="w-input" type="text" placeholder="..." name="delete" data-name="Email"></input><a class="left_link link" href="age-range.pl?age_range=[% age_range %]">Cancel</a>
      <input class="w-button submit_button" type="submit" value="Submit" data-wait="Please wait..."></input>
    </form>
    <div class="w-form-done">
      <p>Thank you! Your submission has been received!</p>
    </div>
    <div class="w-form-fail">
      <p>Oops! Something went wrong while submitting the form :(</p>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
</body>
</html>
