<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Tue Feb 11 2014 01:24:41 GMT+0000 (UTC) -->
<html data-wf-site="52f1a23308d1fc5e180000ab">
<head>
  <meta charset="utf-8">
  <title>CSE 170 Group 2: Flashback - Your 20s</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/cse-170-group-2-flashback.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Varela Round:400","Great Vibes:400"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <!--[if IE 8]><script>document.documentElement.className += ' w-ie8';</script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d2715929d9cfe03a000001/51e07282241660ce78000001_webclip-gallio.png">
</head>
<body class="accntbody">
  <div class="w-nav menubar" data-collapse="tiny" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container">
      <nav class="w-nav-menu navmenu" role="navigation"><a class="w-nav-link homelink" href="your-brain.html">Home</a><a class="w-nav-link searchlink" href="search.html">Search</a><a class="w-nav-link settingslink" href="your-settings.html">Settings</a>
        <a
        class="w-nav-link helplink" href="help-guide.html">Help</a><a class="w-nav-link logoutlink" href="index.html">Log Out</a>
      </nav>
      <div class="w-nav-button menubutton">
        <div class="w-icon-nav-menu iconmenu"></div>
      </div>

    </div>
  </div>
  <h1 class="agecategory">20s</h1>
  
    [% IF images.size > 0 %]
    [% FOREACH image IN images %] 
        <a href="edit_memory.pl?image_name=[% image.name %]&age_range=20s"><img class="memory_img" src="[% image.url %]" /></a>
    [% END %]
    [% ELSE %]
      <h1 class="agecategory">You haven't uploaded any memories!</h1>
    [% END %]

    <h1 class="agecategory">Add new memory</h1>
    <form class="w-clearfix" name="email-form" data-name="Email Form" data-redirect="/your-brain.html" action="process-add-memory.pl" method="post" enctype="multipart/form-data">
      <input type="hidden" name="age_range" value="20s"/>
      <label class="field_label" for="name">Memory name:</label>
      <input class="w-input" type="text" placeholder="Enter the name of your memory" name="memory_name" data-name="Email"></input>
      <label class="field_label">Photo: </label>
      <input class="w-input" type="file" name="photo" /><a class="left_link link" href="your-brain.html">Cancel</a>
      <input class="w-button submit_button" type="submit" value="Submit" data-wait="Please wait..."></input>
    </form>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
</body>
</html>
